script-export/3_dock_sdlf_ecs/.aws/*
script-export/1_dock_build_python/.aws/*
sdlf-infra/.terraform/*
sdlf-infra/.terraform.*
sdlf-infra/terraform.*
DataTranferSDLF/exporttablesdlf/__pycache__*
DataTranferSDLF/exporttablesdlf/__pycache__/*
*__pycache__*
sdlf-quicksight/functions/__pycache__*
sdlf-quicksight/functions/__pycache__/*
deployment/build/*
deployment/dist/*
DataTranferSDLF/hsqldb-2.3.2.jar
Deployment_Results/*

sdlf-cicd/.terraform/*
sdlf-cicd/.terraform.*
sdlf-cicd/terraform.*


files_old/sdlf2-foundations/.terraform/
files_old/sdlf2-foundations/.terraform.*
files_old/sdlf2-foundations/terraform.*
files_old/sdlf3-analytics/.terraform/
files_old/sdlf3-analytics/.terraform*
files_old/sdlf3-analytics/terraform.*
files_old/sdlf4-pipeline-ingestion/.terraform/
files_old/sdlf4-pipeline-ingestion/.terraform.*
files_old/sdlf4-pipeline-ingestion/terraform.*
files_old/sdlf5-dynamodb/.terraform/
files_old/sdlf5-dynamodb/.terraform.*
files_old/sdlf5-dynamodb/terraform.*
files_old/sdlf6-dataset/.terraform/
files_old/sdlf6-dataset/.terraform.*
files_old/sdlf6-dataset/terraform.*
files_old/sdlf7-test-framework/.terraform/
files_old/sdlf7-test-framework/.terraform.*
files_old/sdlf7-test-framework/terraform.*
files_old/sdlf0-cicd-beta/.terraform/
files_old/sdlf0-cicd-beta/.terraform.*
files_old/sdlf0-cicd-beta/terraform.*

sdlf-redshift/.terraform/*
sdlf-redshift/.terraform.*
sdlf-redshift/terraform.*

dev.tfvars
sdlf-dataset/_variables.tf


*.hcl
*.tfstate
*.exe
*.tfstate.backup
.conda
